package components

templ FinishedDesignCard() {
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Finished Design</h5>
        <p class="card-text">This is where the finished design will be displayed.</p>
        <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
}