package components

templ googleSigninButton() {
    <div class="g_id_signin"></div>

    <script src="https://accounts.google.com/gsi/client"></script>
    <script>
        google.accounts.id.initialize({
            client_id: "610017510683-sbsc4b55b9ldnrojade80cr3vbf2ukkv.apps.googleusercontent.com",
            callback: response => G_Client.createSession(response.credential)
        });
    </script>
}

templ SigninButton() {
    @googleSigninButton()
}